.grid-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.grid {
    height: 500px;
    width: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: initial;
    flex-shrink: 0;
}

.row {
    display: flex;
    justify-content: stretch;
    flex: 1;
}

.square {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider-label {
    width: 50px;
}  