.grid-container{
    margin-block: 20px;
    width: 100%;
    padding-top: 100%;
    background-color: white;
    position: relative;
}

.grid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: stretch;
    flex: 1;
}

.square {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.slider-label {
    width: 100px;
    text-wrap: nowrap;
}

body {
    width: 90%;
    max-width: 500px;
    background-color: gainsboro;
    margin: 0 auto;
}